a { color: #337ab7; }
a:hover { text-decoration: underline; }

#container { width: calc(100% - 150px); padding: 20px; font-size: 14px; }

#navigation { position: fixed; top: 0; right: 0; max-width: 200px; height: 100%; background: rgba(255, 255, 255, 0.5); }
#navigation .inner { display: flex; align-items: center; justify-content: center; height: 100%; padding: 20px; text-align: right; opacity: .7; transition-duration: .2s; }
#navigation .inner:hover { padding-right: 25px; opacity: 1; }
#navigation .inner .link { color: #666; cursor: pointer; }
#navigation .inner .link:hover { color: #000; }

h1 { margin-top: 20px; font-size: 24px; color: #000; }
h2 { margin-top: 10px; font-size: 18px; color: #000; }

.scrollTop { position: fixed; right: 10px; bottom: 10px; width: 40px; height: 40px; margin: 0; padding: 0; text-align: center; line-height: 38px; font-size: 12px; border-radius: 20px; border: none; opacity: 0; transition-duration: .2s; box-shadow: 3px 6px 15px -5px rgba(0, 0, 0, 0.2); }
.scrollTop.active { right: 20px; bottom: 20px; cursor: pointer; opacity: 1; }

/* CUSTOM */
.hljs { border-radius: 5px; }