a { color: #337ab7; }
a:hover { text-decoration: underline; }

#container { width: calc(100% - 150px); padding: 20px; font-size: 14px; }

#navigation { position: fixed; top: 0; right: 0; max-width: 200px; height: 100%; background: rgba(255, 255, 255, 0.5); }
#navigation .inner { display: flex; align-items: center; justify-content: center; height: 100%; padding: 20px; text-align: right; opacity: .7; transition-duration: .3s; }
#navigation .inner:hover { opacity: 1; }
#navigation .inner .link { color: #666; cursor: pointer; }
#navigation .inner .link:hover { color: #000; }

h1 { margin-top: 20px; font-size: 24px; color: #000; }
h2 { margin-top: 10px; font-size: 18px; color: #000; }

/* CUSTOM */
.hljs { border-radius: 5px; }